@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300&family=Dongle:wght@300;400&family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
}
body
{
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?cs=srgb&dl=pexels-sohail-nachiti-807598.jpg&fm=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.container
{
    height: 80%;
    width: 25%;
    border: 2px solid aliceblue;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #0000007d;
}
.image
{
    height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myimage
{
    height: 90%;
    width: 100%;
    border: 1px solid purple;
    background-color: aliceblue;
    border-radius: 10px;
}
.para
{
    height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
h2
{
    font-family: 'Dongle', sans-serif;
    font-size: 2em;
}
p
{
    font-family: 'Dongle', sans-serif;
    text-align: center;
    font-size: 1.3em;
    line-height: 20px;
}
.contactus
{
    height: 10%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
a
{
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-radius: 5px;
}
.facebook
{
    height: 25px;
    width: 75px;
    background: rgb(4 112 229);
    border: 1px solid rgb(4 112 229);
    display: flex;
    align-items: center;
    justify-content: center;
}
.instagram
{
    height: 25px;
    width: 85px;
    background: linear-gradient(to right, #833AB4, #E1306C);
    border: 1px solid linear-gradient(to right, #833AB4, #E1306C);
    display: flex;
    align-items: center;
    justify-content: center;
}
.github
{
    height: 25px;
    width: 75px;
    background-color: rgb(37, 37, 37);
    border: 1px solid rgb(37, 37, 37);
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover
{
    border: 1px solid white;
}